body {
    margin: 0;
}

.time-bar {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5em;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-top-right-radius: 5px;
    min-width: 15em;
}

.time-bar .controls {
    margin-top: .5em;
}

.time-bar button .svg-icon {
    color: white;
}
.svg-icon {
    width: 10px;
}