<script>
    import { metrics } from '../lib/store'
</script>

<div class="metrics">
    <ul>
        <li>FPS: {$metrics.fps}</li>
    </ul>
</div>

<style>
    .metrics {
        position: absolute;
        background: transparent;
    }
</style>