<script>
import animate from "../lib/animate";

import initView from "../lib/initView";
import { onMount } from "svelte";
import { mainCamera, mainScene } from "../lib/store";
import { get } from "svelte/store";

onMount(() => {
  const context = initView();

  mainScene.set(context.scene);
  window.getMainScene = () => { return get(mainScene); };
  mainCamera.set(context.camera);

  // launch the animation loop

  if (!context.frameCycleCount) {
    context.frameCycleCount = 0;
  }
  animate(context)();
});
</script>

<div id="webgl-renderer-container">
</div>