<script>
    import { DateTime } from 'luxon'
    import { epoch, isPlaying, mainCamera, rate } from '../lib/store';
    import CoreTimer from './CoreTimer.svelte'
    import ChevronIcon from './Icons/ChevronIcon.svelte'
    import PauseIcon from './Icons/PauseIcon.svelte';
    import PlayIcon from './Icons/PlayIcon.svelte';
    import RefreshIcon from './Icons/RefreshIcon.svelte';
    
    let date
    let formattedDate = ''
    $: {
        date = DateTime.fromMillis($epoch)
        formattedDate = date.toHTTP()
    }

    // let update = () => {
    //     if ($isPlaying) {
    //         console.log('update', epoch)
    //         epoch += 1000
    //         date = DateTime.fromMillis(epoch)
    //         formattedDate = date.toHTTP()
    //     }
    // }
    let renderCoreTimer = true

    let changeRate = (newRate) => {
        if (newRate <= 0) {
            newRate = 1
        }
        rate.set(newRate)
        // renderCoreTimer = false
        // setTimeout(() => renderCoreTimer = true, 0)
    }

    window.changeRate = changeRate
    window.mainCamera = $mainCamera
    window.resetCamera = () => {
        $mainCamera.position.set(15, 20, 100)
        $mainCamera.lookAt(0, 0, 0)
    }
</script>

<div>
    <!-- {#if renderCoreTimer }
        <CoreTimer rate={$rate} on:tick={update} />
    {/if} -->
    <div class="time-bar">
        <div class="date">
            {formattedDate}
        </div>
        <div>
            Rate: {$rate}
        </div>
        <div class="controls">
            <button on:click={() => changeRate(1)}>
                <RefreshIcon />
            </button>
            <button on:click={() => changeRate($rate-1)}>
                <ChevronIcon rotationPreset="left" />
            </button>
            <button on:click={isPlaying.toggle} title={$isPlaying ? 'Pause' : 'Play'}>
                {#if $isPlaying }
                    <PauseIcon />
                {/if}
                {#if !$isPlaying }
                    <PlayIcon />
                {/if}
            </button>
            <button on:click={() => changeRate($rate+1)}>
                <ChevronIcon rotationPreset="right" />
            </button>
        </div>
    </div>
</div>