<script>
import TimeBar from './compo/TimeBar.svelte'
import ThreeJSCanvas from './compo/ThreeJSCanvas.svelte'
import { SocketConnexion } from './lib/webSocket';
import Metrics from './compo/Metrics.svelte';

// const con = new SocketConnexion();
// con.connect()
// con.getEarthParams().then((d) => {
//   console.log(d)
// })
// con.getEarthParams().then((d) => {
//   console.log(d)
// })

// the websocket connexion should be started first
// share the websocket interface in the store for others object to access it

</script>

<main>
  <div class="main-container">
    <Metrics />
    <TimeBar />
    <ThreeJSCanvas />
  </div>
</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

</style>
